body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: lightskyblue;
}

header{
    display: flex;
    align-items: center;
}

nav{
    margin-left: 100px;
    margin-right: 0px;
}

#github img{
    height: 40px;
    width: 40px;
    margin-bottom: 12px;
}

#linkedIn img{
    width: 70px;
    height: 70px;
}

#game{
    border: 1px solid black;

    /* background: linear-gradient(45deg, rgb(92, 92, 208), rgb(198, 51, 51)); */
}

#bottomPart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 75px;
    width: 1000px;
    background-image: url("./imgs/background.png");
    font-size: xx-large;
    color: white;
}

#muteButton{
    height: 30px;
    width: 30px;
}

/* CSS  Got some info from https://getcssscan.com/css-buttons-examples */
.gameButton {
    max-height: 30px;
    align-items: center;
    background-image: linear-gradient(100deg,#ac59e7, #634def 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;
  }

#game-container{
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 700px;
    border: 1px solid black;
}

#start-button{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#bottom-arrows-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 100px;
    border: 1px solid green;
}

.arrow{
    font-size: 80px;
    border: 1px solid red;
}
